.header {
    background-color: var(--main-color);
    color: #fff;
    height: 80px;
}

.header-info {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo img {
    height: 50%;
}

.nav {
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 15px;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 12px;
}

