.header {
    /* background: linear-gradient(-5deg, var(--main-color), rgb(46, 45, 45)); */
    background-color: var(--main-color);
    color: #fff;
    height: 80px;
}

.header-info {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo img {
    height: 50%;
}
.logo h3 {
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 20px;
}


.nav {
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 12px;
}
.nav li a {
    display: inline-block;
    padding: 3px 7px;
    text-decoration: none;
    color: #9a9a9a;
}
.nav li:hover>a {
    color: #fff;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 14px;
}
.menu li a {
    text-decoration: none;
    color: #b3b2b2;
}
.menu li:hover>a {
    color: #fff;
}

